---
layout: default
---
<article>
    <hr class="hr-head">
    <div class="main-content post-content post-page">
        {% assign author = site.data.authors | where:"ID", page.author-ID | first %}
        <div class="post-meta">
            <img src="/image/{{ author.image }}">
            <span itemprop="author"><span itemprop="name">{{ author.name }}</span></span>
            <p>{{ author.description}}</p>
            <a class="contact-author" href="{{ author.web}}">Contact</a>
        </div>
        <hr>
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline" style="background: url('/image/{{page.image}}') cover">{{ page.title | escape }}</h1>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
        </time>
        </header>

        <div>
            {{ content }}
        </div>
        <div class="post-tags">
            {% for category in site.data.categories%}
            {% if page.tags contains category.ID %}
            <a class="class-tag">{{category.name}}</a>
            {% endif%}
            {% endfor %}
        </div>
        <hr>
        <div class="post-feedback">
            <h3>Something to add? Let us know how would you improve to excellence this knowledge</h3>
            <a href="" class="contact-feedback">
                Provide Feedback
            </a>
        </div>


    </div>
</article>

{% if page.contributors %}
    <section class="color-bg">
        <h2>Collaborators</h2>
    </section>
    <div class="post-collaborators main-content inline-columns authors-grid">
        {% for contributor in site.data.authors%}
            {% if page.contributors contains contributor.ID %}
            <div class="col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-0">
                {% include site-authors.html author=contributor %}
            </div>
            {% endif%}
        {% endfor %}
    </div>
{% endif %}
